<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<!-- Сообщение об успешном выходе -->
<div th:if="${param.logout}" style="color: green;">
    You have been logged out successfully!
</div>

<!-- Сообщение об ошибке входа -->
<div th:if="${param.error}" style="color: red;">
    Invalid username or password.
</div>

<!-- Форма входа -->
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>
</body>
</html>