<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>
<form th:action="@{/updateUser}" method="post" th:object="${user}">
    <table>
        <tr>
            <td><label for="id">Id:</label></td>
            <td><span th:text="*{id}" id="id"></span><br>
                <input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <td><label for="username">Name:</label></td>
            <td><input type="text" th:field="*{username}" id="username" required></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="email" th:field="*{email}" id="email" required></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
            <td><label>Role:</label></td>
            <td>
                <div th:each="role : ${authorities}">
                    <label>
                        <input type="checkbox" th:field="*{authorities}" th:value="${role.id}"/>
                    </label>
                    <label th:for="${#ids.next('authorities')}" th:text="${role.authority}"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Update</button>
            </td>
        </tr>
    </table>
</form>
<form th:action="@{/logout}" method="post" style="margin-top: 20px;">
    <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>
</body>
</html>