<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-pills .nav-link.active {
            background-color: #007bff;
            color: white;
        }

        .nav-pills .nav-link {
            color: #007bff;
        }

        input[readonly] {
            background-color: #cecece;
            color: #6c757d;
        }
    </style>
</head>

<body>
<header class="d-flex justify-content-between align-items-center bg-dark p-3 w-100">
    <div class="text-white">
        <strong id="headerUserInfoEmail"></strong>
        <span>with roles:</span>
        <span id="headerUserInfoRoles"></span>
    </div>
    <form th:action="@{/logout}" method="post" class="d-inline">
        <button type="submit" class="btn btn-link text-secondary text-decoration-none">Logout</button>
    </form>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-auto bg-white p-0" style="width: 200px;">
            <ul class="nav nav-pills flex-column mt-2 w-100">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col bg-light p-3" style="min-height: 100vh;">
            <h5 class="my-3" style="font-size: 1.5rem;">Admin panel</h5>
            <div class="table-responsive">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="users-tab" data-bs-toggle="tab" href="#users" role="tab"
                           aria-controls="users" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="new-user-tab" data-bs-toggle="tab" href="#new-user" role="tab"
                           aria-controls="new-user" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <table id="usersTable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="6" class="text-left bg-light">All users</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="6" class="bg-white">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>E-mail</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTableBody">

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                        <form>
                            <div class="mb-3">
                                <label for="newUserUsername" class="form-label">Username</label>
                                <input type="text" class="form-control" id="newUserUsername" required>
                            </div>
                            <div class="mb-3">
                                <label for="newUserEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="newUserEmail" required>
                            </div>
                            <div class="mb-3">
                                <label for="newUserPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="newUserPassword" required>
                            </div>
                            <div class="mb-3">
                                <label for="newUserRoles" class="form-label">Roles</label>
                                <select multiple class="form-control" id="newUserRoles">
                                </select>
                            </div>
                            <div id="newUserSuccessMessage" class="alert alert-success d-none" role="alert">
                                New user added successfully!
                            </div>
                            <button id="createUserButton" class="btn btn-primary">Create User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="editId" class="form-label text-center fw-bold w-100">ID</label>
                        <input type="text" class="form-control text-muted" id="editId" name="id" readonly>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="editUsername" class="form-label text-center fw-bold w-100">Username</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="editEmail" class="form-label text-center fw-bold w-100">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" required>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="editPassword" class="form-label text-center fw-bold w-100">Password</label>
                        <input type="password" class="form-control" id="editPassword" name="password">
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="editRoles" class="form-label text-center fw-bold w-100">Role</label>
                        <select multiple class="form-control" id="editRoles" name="authorities">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="editUserButton" class="btn btn-primary">Save user</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteUserForm">
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="deleteId" class="form-label text-center fw-bold w-100">ID</label>
                        <input type="text" class="form-control text-muted" id="deleteId" name="id" readonly>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="deleteUsername" class="form-label text-center fw-bold w-100">Username</label>
                        <input type="text" class="form-control" id="deleteUsername" name="username" readonly>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="deleteEmail" class="form-label text-center fw-bold w-100">Email</label>
                        <input type="email" class="form-control" id="deleteEmail" name="email" readonly>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="deletePassword" class="form-label text-center fw-bold w-100">Password</label>
                        <input type="password" class="form-control" id="deletePassword" name="password" readonly>
                    </div>
                    <div class="mb-3 mx-auto" style="width: 300px;">
                        <label for="deleteRoles" class="form-label text-center fw-bold w-100">Role</label>
                        <select multiple class="form-control" id="deleteRoles" name="authorities">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="deleteUserButton" class="btn btn-danger">Delete user</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    async function getCsrfToken() {
        const response = await fetch('/api/csrf-token');
        return await response.json();
    }

    async function fetchCurrentUser() {
        const emailSpan = document.getElementById('headerUserInfoEmail');
        const rolesSpan = document.getElementById('headerUserInfoRoles');
        try {
            const response = await fetch('api/getcurrentuser')
            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status}`);
            }
            const user = await response.json();
            emailSpan.textContent = user.email;
            rolesSpan.textContent = user.roles.join(', ')

        } catch (e) {
            console.error('Ошибка при загрузке данных:', e);
        }
    }

    async function fetchUsers() {
        const userTableBody = document.getElementById("usersTableBody");
        try {
            const response = await fetch('api/admin/getallusers');
            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status}`);
            }
            const users = await response.json();

            userTableBody.innerHTML = '';

            function createTableRow(user) {
                const row = document.createElement('tr');
                row.setAttribute('data-row-id', user.id);
                return row;
            }

            function createTableCell(content) {
                const cell = document.createElement('td');
                cell.textContent = content;
                return cell;
            }

            function createButton(text, className, dataBsToggle, dataBsTarget) {
                const button = document.createElement('button');
                button.textContent = text;
                button.className = className;
                button.setAttribute('data-bs-toggle', dataBsToggle);
                button.setAttribute('data-bs-target', dataBsTarget);
                return button;
            }

            function addRowToTable(user) {
                const row = createTableRow(user);

                row.appendChild(createTableCell(user.id));
                row.appendChild(createTableCell(user.username));
                row.appendChild(createTableCell(user.email));
                row.appendChild(createTableCell(user.roles.join(', ')));

                const editButtonCell = document.createElement('td');
                editButtonCell.appendChild(createButton('Edit', 'btn btn-primary btn-sm', 'modal', '#editModal'));
                row.appendChild(editButtonCell);
                const deleteButtonCell = document.createElement('td');
                deleteButtonCell.appendChild(createButton('Delete', 'btn btn-danger btn-sm', 'modal', '#deleteModal'));
                row.appendChild(deleteButtonCell);
                userTableBody.appendChild(row);
            }

            users.forEach(user => {
                addRowToTable(user);
            });
        } catch (error) {
            console.error('Ошибка при загрузке данных:', error);
        }
    }

    async function fetchRoles() {
        try {
            const response = await fetch('api/admin/getallroles');
            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status} ${response.statusText}`);
            }
            return await response.json();
        } catch (e) {
            console.error('Ошибка при загрузке данных:', e);
            return null;
        }
    }

    async function populateRoles(selectorName) {
        const availableRoles = await fetchRoles();
        if (!availableRoles) {
            console.error('Не удалось загрузить роли');
            return;
        }

        const selectElement = document.getElementById(selectorName);
        if (!selectElement) {
            console.error('Элемент <select> с id=' + selectorName + ' не найден');
            return;
        }

        selectElement.innerHTML = '';

        availableRoles.forEach(role => {
            const option = document.createElement('option');
            option.value = role.id;
            option.textContent = role.role;
            option.selected = false;
            selectElement.appendChild(option);
        });
    }

    document.getElementById('new-user-tab').addEventListener('click', async function (event) {
        await populateRoles('newUserRoles');
    });


    document.getElementById('createUserButton').addEventListener('click', async function (event) {
        event.preventDefault();

        const {csrfToken, csrfHeader} = await getCsrfToken();
        console.log("CSRF TOKEN:" + csrfToken);
        console.log("CSRF HEADER:" + csrfHeader);
        const userData = {
            id: '',
            username: document.getElementById('newUserUsername').value,
            email: document.getElementById('newUserEmail').value,
            password: document.getElementById('newUserPassword').value,
            roles: Array.from(document.getElementById('newUserRoles').selectedOptions).map(option => option.value)
        }

        try {
            const response = await fetch(`/api/admin/addnewuser/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(userData)
            });

            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status} ${response.statusText}`);
            }

            await fetchUsers();


            newUserMessage = document.getElementById('newUserSuccessMessage');
            newUserMessage.classList.remove('d-none');

            setTimeout(function () {
                newUserMessage.classList.add('d-none');
                let tab = new bootstrap.Tab(document.querySelector('#users-tab'));
                tab.show();
            }, 1000);

            document.getElementById('newUserUsername').value = '';
            document.getElementById('newUserEmail').value = '';
            document.getElementById('newUserPassword').value = '';
            Array.from(document.getElementById('newUserRoles').options).forEach(option => {
                option.selected = false;
            });

        } catch (error) {
            console.error('Ошибка при добавлении пользователя:', error);
            alert('Не удалось добавить пользователя');
        }
    });

    document.getElementById('editUserButton').addEventListener('click', async function (event) {
        event.preventDefault();


        const {csrfToken, csrfHeader} = await getCsrfToken();
        console.log("CSRF TOKEN:" + csrfToken);
        console.log("CSRF HEADER:" + csrfHeader);
        const userData = {
            id: document.getElementById('editId').value,
            username: document.getElementById('editUsername').value,
            email: document.getElementById('editEmail').value,
            password: document.getElementById('editPassword').value,
            roles: Array.from(document.getElementById('editRoles').selectedOptions).map(option => option.value)
        }
        console.log(userData);

        console.log(document.getElementById('editRoles'));
        try {
            const response = await fetch(`/api/admin/updateuser/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(userData)
            });

            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status} ${response.statusText}`);
            }

            const editModal = bootstrap.Modal.getInstance(document.getElementById('editModal'));
            editModal.hide();

            await fetchUsers();
        } catch (error) {
            console.error('Ошибка при редактировании пользователя:', error);
            alert('Не удалось отредактировать пользователя');
        }
    });


    document.getElementById('deleteUserButton').addEventListener('click', async function (event) {
        event.preventDefault();

        const userId = document.getElementById('deleteId').value;
        const {csrfToken, csrfHeader} = await getCsrfToken();
        console.log("CSRF TOKEN:" + csrfToken);
        console.log("CSRF HEADER:" + csrfHeader);
        try {
            const response = await fetch(`/api/admin/deleteuser/${userId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            });

            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status} ${response.statusText}`);
            }

            const deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
            deleteModal.hide();

            await fetchUsers();
        } catch (error) {
            console.error('Ошибка при удалении пользователя:', error);
            alert('Не удалось удалить пользователя');
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        fetchUsers();
        fetchCurrentUser();
    });

    const editModal = document.getElementById('editModal');
    const deleteModal = document.getElementById('deleteModal');

    editModal.addEventListener('show.bs.modal', async function (event) {
        const button = event.relatedTarget;
        const row = button.closest('tr');
        const modalForm = editModal.querySelector('#editUserForm');
        modalForm.setAttribute('action', `/updateUser/`);
        editModal.querySelector('#editId').value = row.cells[0].textContent;
        editModal.querySelector('#editUsername').value = row.cells[1].textContent;
        editModal.querySelector('#editEmail').value = row.cells[2].textContent;
        await populateRoles('editRoles');
        const roles = row.cells[3].textContent.split(', ');
        console.log(roles)
        const roleSelect = editModal.querySelector('#editRoles');
        Array.from(roleSelect.options).forEach(option => {
            option.selected = roles.includes(option.textContent);
        });
    });

    deleteModal.addEventListener('show.bs.modal', async function (event) {
        const button = event.relatedTarget;
        const row = button.closest('tr');
        const modalForm = deleteModal.querySelector('#deleteUserForm');
        modalForm.setAttribute('action', `/deleteUser/`);
        deleteModal.querySelector('#deleteId').value = row.cells[0].textContent;
        deleteModal.querySelector('#deleteUsername').value = row.cells[1].textContent;
        deleteModal.querySelector('#deleteEmail').value = row.cells[2].textContent;
        await populateRoles('deleteRoles');
        const roles = row.cells[3].textContent.split(', ');
        console.log(roles)
        const roleSelect = deleteModal.querySelector('#deleteRoles');
        Array.from(roleSelect.options).forEach(option => {
            console.log('Option value = ' + option.textContent);
            console.log(roles.includes(option.textContent));
            option.selected = roles.includes(option.textContent);
        });
    });
</script>
</body>
</html>